menu "Nokia Fingerprints"

config SILEAD_FP
	tristate "silead fingerprint drivers"
	default n
	help
	  Say Y here if you want to use silead fingerprint soc drivers.

	  If unsure, say N.

config SUNWAVE_FP
       tristate "Sunwave Fingerprint"
       default n
       help
		  Say Y here if you want to use Sunwave fingerprint soc drivers.

config CDFINGER_FP
       tristate "Cdfinger Fingerprint"
       default n
       help
		  Say Y here if you want to use Cdfinger fingerprint soc drivers.

# Configuration for FPC
config FINGER_PRINT
        bool "Finger Print Driver"
        default n
        ---help---
          This is a Finger Print Drive

endmenu

source "drivers/input/fingerprint/goodix_gfx18m/Kconfig"
source "drivers/input/fingerprint/goodix_gf5288/Kconfig"
